
.open-sans-simple {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav styles */
nav{display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
/* list style */
nav ul {display: flex;
align-items: center;    

}


nav ul li a{font-family: 'Open Sans', sans-serif;
    margin-right: 60px;
font-size: 20px;
text-decoration: none;
}

nav ul li{list-style: none;}
/* shared style */

.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.text-primary{color: #FD6E0A;}

.btn-primary{background-color: #FD6E0A;
font-weight: bold;
color: white;
padding: 18px 35px;
border-radius: 5px;
border: none;}



/* banner */

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    
}
.banner-title{
    font-size:85px ;
    font-weight: bold;

}

.banner-description{
    font-size: 18px;
    line-height: 30px;
   
}

.banner-image{
    width: 584px;
}

.banner{
    display: flex;
justify-content: space-between;
margin: 0 35px 0 210px;
}

.banner-content{
    max-width: 584px;
}

.header{
    background-image: url('/portfolio-resources/images/developer.png'),url('/portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top,bottom right;
  
}